@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

header {
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 3rem 0;
}

header nav ul {
    display: flex;
}

header nav ul li {
    list-style: none;
    margin: auto;
    padding: 0 1rem;
}

header nav ul li a,
.contact {
    color: #242E52;
    text-decoration: none;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: .8rem;
    font-weight: 500;
}

.contact {
    align-items: center;
    background-color: #8B48BF;
    border-radius: 50px;
    color: #fff;
    display: flex;
    font-weight: 300;
    height: 2.6rem;
    justify-content: center;
    width: 9rem;
}

.first {
    display: flex;
    justify-content: center;
    margin: 2rem 0 3rem 0;
}

.intro {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    width: 95%;
}

.info-live {
    align-items: end;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 0 0 1rem;
    width: 32rem;
}

.info-live * {
    margin-bottom: 1.5rem;
}

.info-live h1 {
    color: #242E52;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 3.125rem;
    font-weight: 700;
    text-align: right;
}

.info-live p {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 500;
    text-align: right;
    line-height: 1.5rem;
}

.different {
    background-color: #8B48BF;
    color: white;
    display: flex;
    font-family: 'Be Vietnam Pro', sans-serif;
    justify-content: space-around;
    padding: 2.5rem 0;
    width: 100%;
}

.different h2 {
    font-size: 2rem;
    font-weight: 700;
    width: 28rem;
    margin-right: 2.5vw;
}

.different p {
    font-weight: 500;
    width: 28rem;
    margin-left: 2.5vw;
    line-height: 1.5rem;
}

.steps {
    background-color: #FAFAFA;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
}

.step {
    margin: 2rem 0;
    width: 33.4%;
}

.title-step {
    align-items: center;
    display: flex;
    margin-bottom: 1rem;
}

.number-step {
    align-items: center;
    background-color: #8B48BF;
    border-radius: 50px;
    color: #fff;
    display: flex;
    font-weight: 700;
    font-family: 'Be Vietnam Pro', sans-serif;
    height: 2.5rem;
    justify-content: center;
    width: 4.375rem;
}

.name-step {
    color: #323851;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 700;
    margin: 0 1rem 0 1rem;
}

.description-step {
    color: #B3B2B7;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 300;
    margin-left: 5.375rem;
    min-width: 24rem;
    line-height: 1.5rem;
}


/*CSS SEGUNDA PARTE FRIDA*/

.reviews {
    margin: 7rem 0 10rem 0;
    padding: .5rem;
    font-family: 'Be Vietnam Pro', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.reviews h2 {
    font-size: 2rem;
    font-weight: 700;
    justify-content: center;
    padding: 0 0 5rem 0;
}

.review h3 {
    color: #323851;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 700;
    margin: 1.5rem;
}

.review p {
    color: #B3B2B7;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 300;
    min-width: 30vw;
    font-size: 1rem;
    text-align: center;
    line-height: 1.5rem;
}

.more {
    align-items: center;
    background-color: #8B48BF;
    border-radius: 50px;
    color: #fff;
    display: flex;
    font-weight: 300;
    height: 2.6rem;
    justify-content: center;
    width: 9rem;
    margin-top: 2rem;
    font-size: 12.8px;
}

.review-content {
    display: flex;
    flex-direction: row;
    background-color: #FAFAFA;
    padding: 1rem;
}

.review {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 30vw;
}

.info img {
    position: absolute;
    top: -4rem;
}

.best-teams {
    background-color: #8B48BF;
    color: white;
    display: flex;
    font-family: 'Be Vietnam Pro', sans-serif;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 0;
    width: 100%;
}

.best-teams h2 {
    font-size: 2rem;
    font-weight: 700;
    justify-content: center;
    width: 25rem;
}

.best-teams p {
    font-size: 12.8px;
    align-items: center;
    background-color: white;
    border-radius: 50px;
    color: #8B48BF;
    display: flex;
    font-weight: 300;
    height: 2.6rem;
    justify-content: center;
    width: 8rem;
}

footer {
    background-color: black;
    color: white;
    display: flex;
    font-family: 'Be Vietnam Pro', sans-serif;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 5rem;
    width: 100%;
    max-height: 20rem;
}

.first-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.socialmedia-footer {
    display: flex;
    justify-content: space-around;
}

.socialmedia-footer img {
    padding: .5rem;
    size: 1rem;
}

.logo-footer {
    margin-bottom: 4rem;
}

.second-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    min-width: 30rem;
}

footer nav ul li {
    list-style: none;
    margin: auto;
    padding: 1rem 0 0 5rem;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: .8rem;
    font-weight: lighter;
}

.third-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 5rem;
    min-height: 7rem;
}

.newsletter input {
    font-size: 12.8px;
    font-family: 'Be Vietnam Pro', sans-serif;
    text-align: left;
    padding-left: 1.5rem;
    background-color: white;
    border-radius: 50px;
    height: 2.6rem;
    width: 15rem;
    border-style: none;
}

.newsletter button {
    font-size: 12.8px;
    align-items: center;
    background-color: #8B48BF;
    border-radius: 50px;
    color: white;
    font-weight: 300;
    height: 2.6rem;
    width: 4rem;
    border-style: none;
}

.copyright {
    font-size: 10px;
    color: #B3B2B7;
    font-family: 'Be Vietnam Pro', sans-serif;
}




/* TODAS LAS PSEUDOCLASES VAN AL FINAL DEL CSS */
header nav ul li:hover {
    opacity: .6;
}

.contact:hover {
    background-color: #7133a0;
}

.more:hover {
    background-color: #7133a0;
}

.newsletter button:hover {
    background-color: #7133a0
}

.best-teams p:hover {
    background-color: #ebebeb;
}

/* Desktop */
@media screen and (min-width:1024px) {

    .icon-nav,
    .different-movil {
        display: none;
    }
}

/* Smartphones */
@media screen and (max-width:1023px) {

    nav,
    .contact-nav,
    .different-desktop {
        display: none;
    }

    .first {
        justify-content: flex-start;
        margin: 0;
        width: 100%;
    }

    .intro {
        flex-wrap: wrap;
        width: 100%;
    }

    .paddel-player {
        margin: 0 0 5rem 0;
        width: 100%;
    }

    .paddel-player img {
        width: 100%;
        padding: 7vw;
    }

    .info-live {
        margin: 0;
        margin-bottom: 1rem;
        min-width: 100%;
        padding: 0 1rem 0 2rem;
    }

    .info-live h1 {
        font-size: 2.5rem;
    }

    .different {
        background-color: #3CDDF3;
        flex-direction: column;
        padding: 2.5rem 1rem;
    }

    .different h2 {
        margin-bottom: 1.5rem;
        width: 80vw;
    }

    .different p {
        font-size: .78rem;
        line-height: 1.2rem;
        margin-left: 0;
        margin-top: 1rem;
        width: 85vw;
    }

    .steps {
        background-color: #fff;
        flex-direction: column;
        margin: 3rem 0rem;
        padding: 0 0 0 0;
    }

    .step {
        margin-bottom: 2rem;
    }

    .title-step {
        background-color: rgba(139, 72, 191, 0.3);
        border-radius: 50px 0 0 50px;
        margin-left: 7vw;
        width: 93vw;
    }

    .name-step {
        font-size: 0.8rem;
    }

    .description-step {
        font-size: .9rem;
        margin: 1.5rem 0 .5rem 8vw;
        width: 90vw;
        min-width: 0%;
    }

    .reviews {
        margin: 5rem 0 5rem 0;
    }

    .review-content {
        display: flex;
        background-color: #FAFAFA;
        padding: 1rem;
    }

    .review-sanyo, .review-navarro{
        display: none;
    }

    .review {
        margin-top: 5rem;
    }

    .review p , .review{
        width: 90vw;
    }

    .reviews h2{
        padding: 0;
    }

    .best-teams {
        background-color: #3CDDF3;
        flex-direction: column;
        padding: 2.5rem 1rem;
    }

    .best-teams h2 {
        margin-bottom: 1.5rem;
        width: 80vw;
        text-align: center;
    }

    .best-teams p {
        background-color: rgb(0, 0, 0);
        color: #ffffff;
    }

    footer {
        flex-direction: column-reverse;
    }

    .second-footer {
        flex-direction: row;
        min-width: 5rem;
    }
}