@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;500&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 3rem 0;
}

header nav ul {
    color: #242E52;
    display: flex;
}

header nav ul li {
    list-style: none;
    padding: 0 1rem;
    margin: auto;
}

header nav ul li a, .contact{
    text-decoration: none;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: .8rem;
    font-weight: 500;
}

.contact {
    align-items: center;
    display: flex;
    background-color: #8B48BF;
    border-radius: 50px;
    color: #fff;
    font-weight: 300;
    height: 2.6rem;
    justify-content: center;
    text-align: center;
    width: 9rem;
}



header nav ul li:hover{
    opacity: .6;
}
